.add-product-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="file"] {
  margin-top: 10px;
}

.product-image {
  display: block;
  max-width: 100px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container label {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .add-product-container {
    padding: 20px;
  }
}
.inline-group {
  display: flex;
  justify-content: space-between;
}

.inline-group div {
  width: 48%; /* Adjust width as necessary */
}

.best-seller-label {
  margin-left: 10px; /* Space between checkbox and label */
}
